@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family:cursive
}

body {
  background: #ededed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.x {
  color: rgba(195, 0, 255, 0.478);
  color: rgba(255, 0, 204, 0.500);
  color: #000000b7;
}